// Sparky Style Configuration
// These can be removed and replaced accordingly.
$container-width: 950px;
$custom-container: false;

$sparky-bg-colour: #34495e;
$sparky-text-colour: #ecf0f1;
$sparky-heading-font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$sparky-body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
