html, body {
    font-family: Georgia, serif;
}
h1 {
    border-bottom: 4px solid rgba(0, 0, 0, 0.05);
    line-height: 85px;
}
p {
    font-size: 18px;
}
.code {
    font-family: "Andale Mono", "Monaco", "Consolas", "Lucida Console";
}
