extends ../layouts/master.pug

block content
    p Welcome to Sparky - a static site generation tool created with one purpose, to help developers build awesome static websites with ease. Sparky was built by a collection of freelance developers to assist with the development of static websites that were required within tight deadlines.

    p Sparky is a lightweight collection of tasks which run within a gulpfile, these tasks are responsible for retrieving UI dependencies, compiling SCSS code to CSS, creating static article pages and many more. All of these tasks give you enough power to create a basic static website or even a blog!
