extends ../layouts/master.pug

block content
    p Welcome to Sparky - a static site generation tool created with one purpose, to help developers build awesome static websites with ease. Sparky was built by a collection of freelance developers to assist with the development of static websites that were required within tight deadlines.
