extends ../layouts/master.pug

block content
  p Here is some content from the <code>app/views/pages/index.pug</code> file.
  p The rest of the page is inherited from the <code>app/views/layouts/master.pug</code> file.
