doctype html
html
    head
        meta(charset="UTF-8")
        
        link(href='/css/styles.min.css', rel='stylesheet')
        title Welcome to Sparky!
    body
        div.container
            h1 This is a title from the master template file
            block content
