<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="/css/styles.min.css" rel="stylesheet" media="screen">

    <title>Welcome to Sparky!</title>
    <base href="/">
  </head>
  <body>

    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <footer class="text-md-center">
      <div class="container">
        <nav class="nav nav-inline">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="about">About</a>

          <p><small>Developed with love for Front End Developers</small></p>
        </nav>
      </div>
    </footer>

    <script src="js/jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>
