doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    link(href='/css/styles.min.css', rel='stylesheet')
    title Welcome to Sparky!
  body
    div.container
      h1 Welcome to Sparky
        block content

  footer
    div.container
      nav.nav.nav-inline
        a(class="nav-link" href="/") Home
        a(class="nav-link" href="/about") About

        p <small>Developed with love for Front End Developers</small>

        script(src="./js/jspm_packages/system.js")
        script(src="config.js")
        script(src="./js/app.min.js")
